$border__radius: 0;
$box__shadow: none;
$box__shadow_mobile: none;

$button__size: 14px;
$button__line-height: 18px;
$button__weight: 700;
$button__letter-spacing: 0.7px;
$button__text-transform: uppercase;
$button__indents: 17px 22px;
$button__border-radius: 0;
$button__border: none;
$button__box-shadow: none;
$button__transition: all .6s ease;

$color__background-hr: #fbfbfc;
$color__black: #000;
$color__white: #fff;
$color__select: #f7f7f7;
$color_placeholder:#141d23;
$color_futuries:#07ccc6;
$color__facebook:#375089;
$color__twitter: #0092d0;
$color__google: #ad2025;
$color__linkedin: #0177B5;
$color__pinterest: #BD2025;
$search__color:#333;
$error:#fbd1d3;
$choice__disabled:#e4e4e4;
$choice__disabled-color:#666;
$choice__focus:#d4d4d4;
$result__selected:#ccc;
$darken:#222;

$color__border: #eee;
$color__border-input: $color__border;
$color__border-table: $color__border;
$error__valid:#ff2e36;
$sacsses:#29da25;
$not__valis:#fd2375;
$not__valid-bg:#f8d1e0;