.comments {
	&-area {
		position: relative;
		overflow: hidden;
		margin-bottom: 1em;

		@include media-breakpoint-up(lg) {
			margin-bottom: 2em;
		}
	}

	&-title {
		text-transform: none;

		@include media-breakpoint-up(lg) {
			margin-bottom: 72px;
		}
	}
}

.comment {
	&-list {
		margin: 0;
		padding: 0 0 20px;
		list-style: none;

		.children {
			position: relative;
			margin-left: 0;
			padding-left: 10px;
			list-style: none;

			@include media-breakpoint-up(lg) {
				padding-left: 30px;
			}

			&:before {
				content: '';
				position: absolute;
				top: -1px;
				right: -1000px;
				left: -1000px;
				height: 1px;
			}

			.children {
				&:after {
					content: '';
					position: absolute;
					top: 0;
					right: -1000px;
					bottom: 0;
					left: -1000px;
					z-index: -1;
				}
			}
		}

		> .comment,
		> .ping {
			margin-bottom: 10px;

			@include media-breakpoint-up(sm) {
				margin-bottom: 50px;
			}
		}
	}

	&-metadata {
		padding-top: 0;
		@include font-size(16);
		font-style: italic;
	}

	&-content {
		overflow: hidden;

		a {
			word-wrap: break-word;
		}
	}

	&-body {
		padding: 25px 30px 5px;

		&__holder {
			position: relative;
			padding-right: 18px;
		}

		.avatar {
			width: 90px;
			margin: 0 0 10px;
			border-radius: 50%;

			@include media-breakpoint-up(sm) {
				width: 120px;
			}

			@include media-breakpoint-up(md) {
				width: auto;
				margin: 0 30px 15px 0;
			}

			@include media-breakpoint-up(lg) {
				float: left;
			}
		}

		.fn {
			margin-right: 4px;
		}

		.reply {
			position: absolute;
			z-index: 9;
			top: -7px;
			right: 4px;

			i {
				transition: all .3s ease;
			}
		}
	}

	&-reply-link {
		@include font-size(22);

		.material-icons {
			font-size: inherit;
		}
	}

	&-date {
		display: inline-block;

		&:before {
			content: '\2022';
			margin-right: 9px;
			font-size: .875em;
		}

		&__time {
			display: inline-block;
			vertical-align: top;
		}
	}

	@include media-breakpoint-up(sm) {
		&-metadata {
			padding-top: 18px;
		}

		&-body {
			padding: 40px 40px 26px;
		}
	}
}

.bypostauthor {
	display: block;
}