/* #ToTop button */
#toTop {
	color: $invert_accent_color_1;
	background: $regular_accent_color_1;
}

#toTop:before { color: $regular_accent_color_1; }

#toTop span { color: $invert_accent_color_1; }

#toTop:hover { background: $regular_text_color; }

#toTop:hover span { color: $invert_accent_color_1; }

.tm-circle .tm-child:before { background-color: $regular_accent_color_1; }

/* #Page Preloader */
.page-preloader-spinner div { background-color: $regular_accent_color_4; }

.page-preloader-spinner div:nth-child(2) { background-color: $regular_accent_color_1; }

.page-preloader-spinner div:nth-child(3) { background-color: $regular_accent_color_3; }

.page-preloader-spinner div:nth-child(4) { background-color: $regular_accent_color_2; }